---
layout: page
---
<div class="post-content">
  {{ content }}

  <hr>

  {% if page.previous.url ||  page.next.url %}
  <ul class="pager">
      
    {% if page.previous.url %}
    <li class="previous">
        <a href="{{ site.baseurl }}/{{page.previous.url}}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a> 
    </li>
    {% endif %} 
    
    {% if page.next.url %}
    <li class="next">
        <a href="{{ site.baseurl }}/{{page.next.url}}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
    </li>
    {% endif %} 

  </ul>
  {% endif %}
</div>
